
@import "../abstracts/variables";
@import "../abstracts/mixin";



//logo
.logo { width: 124px; height: 33px;background: url(../image/logo.svg) no-repeat;background-size: 100%;
    a {width: 100%; height: 100%;}
}
.logo-gray { width: 131px;height: 31px;background: url(../image/logo_gray.svg) no-repeat;     background-size: 100%;}
.grab { max-width: 1200px;margin: 0 auto;}



//header
.header { margin-bottom: 48px;  padding: 22px 0;border-bottom: 1px solid #E5E7E9;
    .grab, .gnb, .link-join {display: flex;  align-items: center;}
    .grab {position: relative;
        .gnb { margin-left: 47px;
            > li {padding-left: 26px;
                &:first-child {padding-left: 0;}
                a {font-weight: 600; 
                    &:hover{text-decoration: underline;}
                }
            }
        }
        .util-wrap {position: absolute; right: 0; display: flex;
            > a {padding:11px 24px; font-size: 1.1rem;}
            .link-join {margin-right: 35px;
                li {padding-left: 26px;
                    a {font-weight: 600;
                        &:hover{text-decoration: underline;}
                    }
                    .ico.bg {width: 40px;height: 40px;background:$light04; text-align: center;border-radius: 600px;
                        @include center_absoulte();
                        @include inline-block-box(middle);
                    }
                    .ico {margin-right: 5px; position: relative;top: -1px;}
                    .iconify  {  @include font(20px, $dark04); vertical-align: middle; }
                }
            }
        
        }
    }
}


// header gap
.wide .util-wrap,
.wide .gnb {display: none;}
.wide { border-bottom: 0;margin-bottom: 0;border-bottom: 1px solid #e0e0e0;}
.wide .grab { max-width: 100%; padding-right: 25px; padding-left: 25px;}
@include desktop1800 {
    #container {padding-right: 15px; padding-left: 15px;}
    .wide #container {padding-right: 0px; padding-left: 0px;}
    .wide .grab {padding-right: 0; padding-left: 0;}
}