
.mypage-wrap {
    //tab-wrap
    .tab-wrap {margin-top: -32px;
        .tab-menu {
            .grab {
                text-align: center;
            }
            .menu { @include font(16px, $dark01);font-weight: 600;
                &.active {color: $primary;}
            }
        }
    }
    //list-info
    .list-info { margin-top: 29px;
        > li {position: relative; border-bottom: 1px solid $light02; padding-bottom: 29px;margin-bottom: 29px;
            > * {font-size: 18px;}
            > span { min-width: 170px; color: $dark04;vertical-align: top;}
            > .txt { font-weight: 600;width: calc(100% - 170px);display: inline-block; padding-right: 65px;}
            > a {position: absolute; right: 0; color: $primary;}
        }
    }

}
