@import "variables";

/** mixin **/

//responsive 
// @include mobile480 {}
// @include mobile780 {}
// @include tablet1024 {}
// @include tablet1200 {}
// @include desktop1800 {}
@mixin mobile480 {
  @media (max-width: #{$mobile480}){
    @content;
  }
}
@mixin mobile780 {
  @media (max-width: #{$mobile780}) {
    @content;
  }
}
@mixin tablet1024 {
  @media (max-width: #{$tablet1024}) {
    @content;
  }
}  
@mixin tablet1200 {
  @media (max-width: #{$tablet1200}) {
    @content;
  }
} 
@mixin desktop1800 {
  @media (max-width: #{$desktop1800}) {
    @content;
  }
}   

//font @include font(14px, $dark04, 'bold');
@mixin font($size: false, $color: false, $weight: false) {
  @if ( $size != false ) {
    font-size: $size;
  }
  @if ( $color != false ) {
    color: $color;
  }
	@if ($weight == bold) {	
		font-weight: 900;
   	}	
    @else if $weight == 'medium' {
		font-weight: 600;
	}
	@else if $weight == 'light' {
		font-weight: 100;
	}
}
//font medium
@mixin fontMedium($color: false, $size: false) {
  font-family: 'ntkLight'; font-weight: 600; color: $color; font-size: $size;
}


//border
@mixin border($direction, $width, $style, $color) {
  border-#{$direction}: $width $style $color; 
}


//clear  @include clear();
@mixin clear {
    &::after { content: '';display: block;clear: both; }
}

//ellipsis   width: 300px; @include ellipsis; / @include ellipsis(2);
@mixin ellipsis($type: 0) {
    overflow: hidden;
    text-overflow: ellipsis;
   @if($type == 0) {
      white-space: nowrap;
      word-wrap: normal;
      word-wrap: break-word;
    }@else {
      display: -webkit-box;
      -webkit-line-clamp: $type;
      -webkit-box-orient: vertical;
    }
  }


// *** virtual line  ***
@mixin deco_line_top($w,$h,$color,$top, $left) { 
  content: ""; display: block; width: $w; height: $h; background: $color; position: absolute; top:#{$top}px; left: #{$left}px;
}
@mixin deco_line_bottom($w,$h,$color,$bottom, $left) { 
  content: ""; display: block; width: $w; height: $h; background: $color; position: absolute; bottom:#{$bottom}px; left: #{$left}px;
}


// *** align  
//flexbox  @include flexbox(start, end)
$flex-map: (
    start: flex-start,
    end: flex-end,
    between: space-between,
    around: space-around,
    stretch: stretch,
    center: center,
);
@function _get-flex-value($key) {
  @return map-get($flex-map, $key);
}
@mixin flexbox($jc: center, $ai: center) {
    display: flex;
    align-items: _get-flex-value($ai);
    justify-content: _get-flex-value($jc);
}

//absoulte : $type의 기본 값은 absolute
@mixin pos-center-x($type: absolute) {
  @if( $type == fixed or $type == absolute ){
      position: $type;
      left: 50%;
      transform: translateX(-50%);
  }
}
@mixin pos-center-y($type: absolute) {
  @if( $type == fixed or $type == absolute ){
      position: $type;
      top: 50%;
      transform: translateY(-50%);
  }
}
@mixin pos-center($type: absolute) {
  @if( $type == fixed or $type == absolute ){
      position: $type;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
  }
}

//width
@mixin width-center($width) {
  width : $width;
  margin: 0 auto;
}

//inline-block
@mixin inline-block-box($vertical-align: top) {
  display: inline-block;
  vertical-align: $vertical-align;
}

//pseudo
@mixin pseudo($display: block, $pos: absolute, $content: ''){
  position: relative;
  &:after {
    content: $content;
    display: $display;
    position: $pos;
  }
}

//transition
@mixin transition { transition: all 0.3s ease;}
//box_shadow
@mixin box_shadow($h, $v, $distance, $opacity) {box-shadow: #{$h}px #{$v}px #{$distance}px rgba(0, 0, 0, $opacity);}
//img
@mixin img { position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%); max-width: none; height: 100%; width: auto; min-width: 100%;}
//hideScrollbar
@mixin hideScrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {display: none;}
}

//button 
@mixin button-bg($bg, $bg_hover, $color, $border_color) {
    background: $bg;color: $color; border: 1px solid $border_color;
    &:link, &:visited {color: $color;}
    &:hover,  &:active {background:$bg_hover;}
}
@mixin button-line($bg, $bg_hover, $color, $border_color) {
    background: $bg;color: $color; border: 1px solid $border_color;
    &:link, &:visited {color: $color;}
    &:hover,  &:active {background:$bg_hover;}
}

//background-image
// $show-numbers:true;
// $num : 7;
// .item{
//         @if $show-numbers {
// 		@for $i from 1 through $num {
// 			&:nth-child(#{$i}){
// 				background:url('http://lorempixel.com/300/300/sports/#{$i}') no-repeat 0 0;
// 			}
// 		}
// 	}
// }
