/* button */
button {background-color: transparent; border: 1px solid transparent;}
.btn {text-align: center;  padding: 11px 5px; min-width: 105px; font-weight: 300; border-radius: $border_radius; background-color: transparent; font-size:1rem;  }
.btn-green { @include button-bg($secondary, $secondary_hover, $white, $secondary); }
.btn-green-line {@include button-line($white, $secondary_50, $secondary, $secondary);}
.btn-blue { @include button-bg($primary, $primary_hover, $white, $primary); }
.btn-blue-line {@include button-line($white, $primary_50, $primary, $primary);}
button.disabled, a.disabled {opacity: 0.3; cursor: auto;}
.btn.sm { min-width: 58px; min-height: 34px;border-radius: 8px;}



.btn-line-black,.btn-line-gray { position: relative;}
.btn-line-black {
    &:after {@include deco_line_bottom(100%, 1px, $dark01, 0, 0)}
}
.btn-line-gray { color: $light01 !important;
    &:after {@include deco_line_bottom(100%, 1px, $light01, 0, 0)}
}