@charset "utf-8";
@import "_settings.scss";


//search-wrap
.search-wrap {width: 297px; position: absolute;right: 0; top: 0;
    input {border-radius: 600px;}
    .btn {width: 26px; position: absolute; top: 0; right: 23px; font-size: 25px; min-width: inherit; color: $dark02;background: url('../image/board/search.png') no-repeat center;}
}

//sort-wrap 
.sort-wrap {@include clear(); margin: 50px 0;
    .select-group {float: left;}
    .toggle-button-wrap {float: right;}
}


//toggle-button-wrap
.toggle-button-wrap{ display: flex;align-items: center;
    .toggle-button{margin-left: 15px; position: relative;  top: 50%; width: 51px; height: 33px;overflow: hidden;border-radius: 30px;
        .knobs,.layer { position: absolute; top: 0;right: 0; bottom: 0; left: 0;}
        .knobs,.knobs:before,.layer { transition: 0.3s ease all;}
        .layer { width: 100%; background-color: $light01; transition: 0.3s ease all;z-index: 1;}
        .knobs { z-index: 2;
            &:before { @include box_shadow(7, 3, 10, 0.19);  content: ""; position: absolute;  top: 2px; left: 3px; width: 20px; height: 10px;  padding: 9px 4px; background-color: $white; border-radius: 50%; transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;}
        }
        .checkbox { position: relative; width: 100%; height: 100%;  padding: 0;margin: 0; opacity: 0; cursor: pointer; z-index: 3;
            &:checked + .knobs:before {content: "";  left: 20px; @include box_shadow(-6, 3, 10, 0.19); }
            &:checked ~ .layer { background-color: $secondary;}
        }
    }
}


//contentList-wrap
.contentList-wrap {
    .total-result {
        position: relative;margin-bottom: 45px;
        strong {color: $dark05;}
        .total-view {color: $dark02; position: absolute; right: 0; top: 0;
            .dropdown-menu {left: auto !important; right: 0;margin-top: 0;}
        }
    }
    .contentList {
        @include clear();
        li{ width: calc((100% - 97px) / 4); margin-right: 32px; margin-bottom: 32px; float: left; position: relative;
            &:nth-child(4n) {margin-right: 0;}
            .btn-like {
                background: url(../image/board/heart.png) no-repeat; width: 21px; height: 21px; position: absolute;       right: 16px;
                top: 18px; z-index: 9;
                &.active {background: url(../image/board/heart-active.png) no-repeat;}
            }
            .img-wrap {
                height: 240px;
                overflow: hidden;
                img { @include transition;}
            }
            .txt-wrap { padding-top: 15px;
                * {display: block;}
                .tag {color:$dark04; font-size: 14px;}
                .tit {color:$dark01; font-size: 18px; font-weight: 600; padding: 5px 0 15px 0;}
                .price {color:$dark01; font-size: 20px; font-weight: 900;}
            } 
            &:hover {
                .img-wrap {
                    img {transform: scale(1.2); @include transition;}
                }
            }
        }
    }
}

.bottom-wrap {text-align: center;}

//pagination
.pagination {margin-top: 34px; display: flex; justify-content: center; padding-left: 0;  list-style: none; border-radius: 0.25rem;
    .page-link {border-color: transparent !important; width: 32px;height: 32px;line-height: 1;font-weight: 900; padding: 0;}
    .page-item { font-weight: 900; font-size: 14px;    
        &.active {
            .page-link {border-radius: 600px;}
        }
       
    }  
}    
.page-result {margin-top: 30px;}   

