
@charset "utf-8";

@media(max-width: 1800px) {
    #container {padding-right: 15px; padding-left: 15px;}
}

//logo
.logo { width: 124px; height: 33px;background: url(../image/logo.svg) no-repeat;background-size: 100%;
    a {width: 100%; height: 100%;}
}
.logo-gray { width: 131px;height: 31px;background: url(../image/logo_gray.svg) no-repeat;     background-size: 100%;}
.grab { max-width: 1200px;margin: 0 auto;}


//header
.header { margin-bottom: 48px;  padding: 22px 0;border-bottom: 1px solid #E5E7E9;
    .grab, .gnb, .link-join {display: flex;  align-items: center;}
    .grab {position: relative;
        .gnb { margin-left: 47px;
            > li {padding-left: 26px;
                &:first-child {padding-left: 0;}
                a {font-weight: 600; 
                    &:hover{text-decoration: underline;}
                }
            }
        }
        .util-wrap {position: absolute; right: 0; display: flex;
            > a {padding:11px 27px; font-size: 1.1rem;}
            .link-join {margin-right: 35px;
                li {padding-left: 26px;
                    a {font-weight: 600;
                        &:hover{text-decoration: underline;}
                    }
                }
            }
        
        }
    }
}

//footer 
.footer {border-top: 1px solid #e5e7e9; padding: 30px 0;margin-top: 109px;
    .grab {
        display: flex; justify-content: space-between; align-items: center;
        .menu {display: flex;
            li{
                @include relative;
                &:not(:first-child):after{@include deco_line(1,21,$dark03,3, 18); }
                a {font-family: 'kangwon';  padding-left: 34px; color:$dark03;
                    &:hover{text-decoration: underline;}
                }
            }
        }
    } 
}